_dane do trenowania/*
test.mp4
test.mp4_keypoint.mp4
yolov7-w6-pose.pt
yolo-Weights/yolov8n.pt
data/*
__pycache__/plots_bm.cpython-312.pyc
__pycache__/wheel_detector.cpython-312.pyc
FPS_and_Time_Comparision_pose_estimate.png
test.mp4_keypoint_black.mp4
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/common.cpython-312.pyc
models/__pycache__/experimental.cpython-312.pyc
models/__pycache__/yolo.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/autoanchor.cpython-312.pyc
utils/__pycache__/datasets.cpython-312.pyc
utils/__pycache__/general.cpython-312.pyc
utils/__pycache__/google_utils.cpython-312.pyc
utils/__pycache__/loss.cpython-312.pyc
utils/__pycache__/metrics.cpython-312.pyc
utils/__pycache__/plots.cpython-312.pyc
utils/__pycache__/torch_utils.cpython-312.pyc
__pycache__/plots_bm_katy.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/autoanchor.cpython-312.pyc
utils/__pycache__/datasets.cpython-312.pyc
utils/__pycache__/general.cpython-312.pyc
utils/__pycache__/google_utils.cpython-312.pyc
utils/__pycache__/loss.cpython-312.pyc
utils/__pycache__/metrics.cpython-312.pyc
utils/__pycache__/plots.cpython-312.pyc
utils/__pycache__/torch_utils.cpython-312.pyc
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/common.cpython-312.pyc
models/__pycache__/experimental.cpython-312.pyc
models/__pycache__/yolo.cpython-312.pyc
_stored data/2.mp4
_stored data/a.jpg
_stored data/a.mp4
_stored data/aa_res.jpg
_stored data/aa.jpg
_stored data/b_output.png
_stored data/b.jpg
_stored data/b.mp4
_stored data/c_output.png
_stored data/c.jpg
_stored data/c.mp4
_stored data/d_output.png
_stored data/d.jpg
_stored data/d.mp4
_stored data/e.jpg
_stored data/e.mp4
_stored data/f.jpg
_stored data/f.mp4
_stored data/football1.mp4
_stored data/football1.mp4_keypoint.mp4
_stored data/g.jpg
_stored data/g.mp4
_stored data/h.jpg
_stored data/h.mp4
_stored data/i.jpg
_stored data/i.mp4
_stored data/j.jpg
_stored data/j.mp4
_stored data/k.jpg
_stored data/k.mp4
_stored data/kk.jpg
_stored data/l_black.mp4
_stored data/l.mp4
_stored data/m.mp4
_stored data/n.jpg
_stored data/n.mp4
_stored data/nn_dif.jpg
_stored data/nn_res.jpg
_stored data/nn.jpg
_stored data/o.mp4
_stored data/output.png
_stored data/p.mp4
_stored data/pp.jpg
_stored data/q.jpg
_stored data/qq_dif.jpg
_stored data/qq_res.jpg
_stored data/qq.jpg
_stored data/r.jpg
_stored data/r.mp4
_stored data/rr_res.jpg
_stored data/rr.jpg
_stored data/test_4.mp4
_stored data/test_v.mp4
_stored data/waka.jpg
_data/PXL_20241218_130613481_cutted_01_012.mp4
_data/PXL_20241218_130613481_cutted_02_003.mp4
_data/PXL_20241218_140154060_009.mp4
__pycache__/general_bm.cpython-312.pyc
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/common.cpython-312.pyc
models/__pycache__/experimental.cpython-312.pyc
models/__pycache__/yolo.cpython-312.pyc
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/common.cpython-312.pyc
models/__pycache__/experimental.cpython-312.pyc
models/__pycache__/yolo.cpython-312.pyc
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/common.cpython-312.pyc
models/__pycache__/experimental.cpython-312.pyc
models/__pycache__/yolo.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/autoanchor.cpython-312.pyc
utils/__pycache__/datasets.cpython-312.pyc
utils/__pycache__/general.cpython-312.pyc
utils/__pycache__/google_utils.cpython-312.pyc
utils/__pycache__/loss.cpython-312.pyc
utils/__pycache__/metrics.cpython-312.pyc
utils/__pycache__/plots.cpython-312.pyc
utils/__pycache__/torch_utils.cpython-312.pyc
