_dane do trenowania/*
test.mp4
test.mp4_keypoint.mp4
yolov7-w6-pose.pt
yolo-Weights/yolov8n.pt
data/*
__pycache__/plots_bm.cpython-312.pyc
__pycache__/wheel_detector.cpython-312.pyc
FPS_and_Time_Comparision_pose_estimate.png
test.mp4_keypoint_black.mp4
